/* CONFIGS GERAIS */

@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body {
    margin: 0;
    font-family: "Fira Sans Condensed";
}

/* ================================================================= */
/* NAVBAR */

.navbar {
    background-color: #000000;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
    justify-content: right;
}

#logoNavbar {
    width: 95px;
    height: 25px;
    margin-left: 100px;
}

.nav {
    display: flex;
    color: #FFFFFF;
    /* topo direita inferior esquerda */
    width: 1300px;
    margin-left: 375px;
}

.navBarItems {
    /* topo direita inferior esquerda */
    padding: 7px 30px 0px 30px;
    font-size: 13px;
}

#queroAjudar {
    color: #FFFFFF;
    background-color: #33E46D;
    font-family: "Fira Sans Condensed";
    font-size: 12px;
    font-weight: 450;
    border: 0;
    /* topo direita inferior esquerda */
    padding: 4px 7px 4px 7px;
    margin-top: 3px;
    margin-bottom: 3px;
}

/* ================================================================= */
/* TOPO DA TELA */

.top {
    background-color: #FFF5EA;
    box-sizing: border-box; 
    display: flex;  
    justify-content: space-between;
    width: 100%;
    /* topo direita inferior esquerda */
    margin: 0;
    padding: 0;
}

#quadradosEsq {
    width: 500px;
    height: 500px;
}

#quadradosDir {
    width: 250px;
    height: 250px;
}

.cuidarAlemDaCura {
    margin-left: -100px;
}

.topCenterLin1 {
    display: inline;
    justify-content: space-between;
}

#cuidar {
    font-family: "Chilanka";
    font-size: 50px;
    font-weight: 400;
    color: #33E46D;
    padding-top: 200px;
    margin-bottom: -125px;
}

#cuidarImg {
    width: 55px;
    height: 50px;
    margin-top: 65px;
    margin-left: 160px;
}

.topCenterLin2 {
    display: flex;
    justify-content: center;
    font-size: 45px;
    /* topo direita inferior esquerda */
    margin: -30px 50px -55px 0px;
}

#eAlemDa {
    font-weight: 450;
}

#cura {
    font-family: "Chilanka";
    color: #33E46D;
    font-weight: 400;
    font-size: 50px;
    padding-left: 7px;
}

#topSlogan {
    font-weight: 400;
}

/* ================================================================= */
