.btnContainer {
    text-align: center;
}

.btn {
    width: 300px;
    height: 40px;
    border: 0;
    margin-top: 70px;
    font-weight: 500;
    font-size: 16px;
    font-family: "Fira Sans Condensed";
    background-color: #33E46D;
    color: #FFFFFF;
    cursor: pointer;
}

#qroAjudarBtn {
    width: 200px;
    height: 40px;
    font-family: "Fira Sans Condensed";
    font-weight: 600;
    background-color: #33E46D;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
}


#voltar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 141px;
    height: 35px;
    font-family: "Fira Sans Condensed";
    background-color: #33E46D;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
}

#voltar img {
    width: 20px; /* Ajuste o tamanho do ícone conforme necessário */
    height: 17.5px; /* Ajuste o tamanho do ícone conforme necessário */
    margin-right: 5px; /* Adiciona um espaço entre o ícone e o texto do botão */
    vertical-align: middle;
}