.btnContainer {
    text-align: center;
}

.btn {
    width: 300px;
    height: 40px;
    border: 0;
    margin-top: 70px;
    font-weight: 500;
    font-size: 16px;
    font-family: "Fira Sans Condensed";
    background-color: #33E46D;
    color: #FFFFFF;
    cursor: pointer;
}

#qroAjudarBtn {
    width: 200px;
    height: 40px;
    font-family: "Fira Sans Condensed";
    font-weight: 600;
    background-color: #33E46D;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
}

#saibaMaisBtn {
    display: flex; 
    align-items: center; /*centralizar os itens verticalmente */
    justify-content: center; /*centralizar os itens horizontalmente */
    width: 200px;
    height: 40px;
    font-family: "Fira Sans Condensed";
    font-weight: 600;
    font-size: 18px;
    background-color: #33E46D;
    color: #FFFFFF;
    border: 0;
}

#saibaMaisBtn img {
    width: 20px;
    height: 16px;
    margin-left: 8px;
}

