/* CONFIGS GERAIS */

a:link {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

a:active {
    text-decoration: none;
    color: #FFFFFF;
}

body {
    width: 100%;
    height: fit-content;
    margin: 0;
    font-family: "Fira Sans Condensed";
}

/* ======================================================================== */
/* NAVBAR DESKTOP */

@media (min-width: 800px) {

    .navbar {
        width: 100%;
        height: 1%;
        background-color: #000000;
        padding: 1% 1.5% 1% 1.5%;
        display: flex;
        justify-content: space-between;
    }

    #abrirNav {
        display: none;
    }
    
    #btnLogoNavbar {
        left: 0;
        padding: 0;
        margin: 0;
        background-color: #000000;
        width: 15%;
        height: 50%;
        border: none;
        cursor: pointer;
    }
    
    #logoDesktop {
        margin: 0;
        padding: 0;
        width: 60%;
        height: 100%;
    }

    #logoMobile {
        display: none;
    }
    
    .nav {
        width: 75%;
        right: 0;
        display: flex;
        color: #FFFFFF;
    }
    
    .navBarItems {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .navBarItem {
        /* topo direita inferior esquerda */
        padding: 1.5% 0 0 0;
        font-size: 13px;
    }
    
    #queroAjudar {
        color: #FFFFFF;
        background-color: #33E46D;
        font-family: "Fira Sans Condensed";
        font-size: 12px;
        font-weight: 450;
        border: 0;
        /* topo direita inferior esquerda */
        padding: 1% 2% 1% 2%;
        margin-top: 0.5%;
        cursor: pointer;
    }

}

/* NAVBAR MOBILE */

@media (max-width: 799px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        position: fixed;
        background-color: none;
        width: 100%;
        top: 0;
    }

    #btnLogoNavbar {
        left: 0;
        padding: 0;
        margin: 0.2% 0 0 0;
        width: 10%;
        text-align: left;
        background-color: transparent;
        height: fit-content;
        border: none;
        cursor: pointer;
    }
    
    #logoDesktop {
        display: none;
    }

    #logoMobile {
        width: 50%;
        left: 0;
        top: 0;
        background-color: transparent;
    }

    .nav {
        width: 40px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        position: fixed;
        transition: width 0.5s;
        background-color: #000000;
        font-size: 12px;
        padding: 0 1% 0 1%;
        right: 0;
        border-radius: 0 0 0 5px;
    }

    #abrirNav {
        width: 20%;
        padding: 0;
        background-color: #000000;
        color: #FFFFFF;
        border: none;
    }

    .navBarItems {
        display: none;
        flex-direction: column;
    }

    .navBarItem {
        display: inline;
        /* topo direita inferior esquerda */
        padding: 5%;
    }

    #queroAjudar {
        width: 80%;
        border: 0;
        /* topo direita inferior esquerda */
        padding: 1% 2% 1% 2%;
        margin: 5%;
        cursor: pointer;
        color: #FFFFFF;
        background-color: #33E46D;
        font-family: "Fira Sans Condensed";
    }


}


/* ================================================================= */
/* PRÉ-FOOTER DESKTOP */

@media(min-width: 800px) {

    .preFooter {
        background-color: #33E46D;
        text-align: center;
        /* topo direita inferior esquerda */
        padding: 5% 30% 5% 30%;
    }
    
    #logoPreFooter {
        width: 55%;
        height: 100%;
    }
    
    .VenhaFazerSuaParte {
        display: flex;
        justify-content: center;
        margin: 2% 0 2% 0;
    }
    
    #preFooterTxt {
        font-size: 26px;
        margin: 0;
    }
    
    #preFooterTxtDestacado {
        font-size: 26px;
        font-family: "Chilanka";
        margin: 0.4% 0 0 1%;
        font-weight: 500;
        color: #FFFFFF;
    }
    
    .preFooter  p {
        font-size: 16px;
        font-weight: 300;
        color: #FFFFFF;
    }

}

/* PRÉ-FOOTER MOBILE */
@media (max-width: 799px) {

    .preFooter {
        background-color: #33E46D;
        text-align: center;
        /* topo direita inferior esquerda */
        padding: 5% 30% 5% 30%;
    }
    
    #logoPreFooter {
        width: 55%;
        height: 100%;
    }
    
    .VenhaFazerSuaParte {
        display: flex;
        justify-content: center;
        margin: 2% 0 2% 0;
    }
    
    #preFooterTxt {
        font-size: 22px;
        margin: 0;
    }
    
    #preFooterTxtDestacado {
        font-size: 22px;
        font-family: "Chilanka";
        margin: 1% 0 0 2.5%;
        font-weight: 500;
        color: #FFFFFF;
    }
    
    .preFooter  p {
        font-size: 13px;
        font-weight: 300;
        color: #FFFFFF;
    }    
}

/* ================================================== */
/* FOOTER DESKTOP */

@media (min-width: 800px) {

    footer {
        background-color: #000000;
        color: #FFFFFF;
        text-align: center;
        padding: 2% 0 1% 0;
        line-height: 25px;
    }
    
    #footerLogo {
        width: 4%;
        height: 100%;
        margin: 0 0 1% 0;
    }
    
    #footerLogoTxt {
        width: 9%;
        height: 100%;
        margin: 0;
    }
    
    .footerSecoes {
        width: 100%;
        margin-top: 3%;
        display: flex;
        justify-content: space-evenly;
    }
    
    .footerDiv {
        box-sizing: border-box;
        width: 20%;
        height: fit-content;
        text-align: left;
    }
    
    .redesSociaisLin {
        display: flex;
        margin: 5% 0 0 0;
    }
    
    #footerTit {
        font-size: 20px;
        font-weight: 400;
        margin: 0;
    }
    
    #redesSociaisIcon {
        width: 10%;
        height: 100%;
    }
    
    #redesSociaisLink {
        font-size: 14px;
        margin: 0 0 2% 3%;
        font-weight: 300;
    }
    
    #endereco {
        font-size: 14px;
        font-weight: 300;
    }
    
    .footerDivLinks {
        box-sizing: border-box;
        width: 15%;
        height: fit-content;
        text-align: left;
    }
    
    #link {
        font-size: 14px;
        font-weight: 300;
    }
    
    .copyright {
        display: flex;
        justify-content: space-evenly;
        margin-top: 3%;
        font-size: 13px;
        font-weight: 300;
    }

}

@media (max-width: 799px) {

    footer {
        background-color: #000000;
        color: #FFFFFF;
        text-align: center;
        padding: 2% 0 1% 0;
        line-height: 25px;
    }
    
    #footerLogo {
        width: 7%;
        height: 100%;
        margin: 0 0 1% 0;
    }
    
    #footerLogoTxt {
        width: 15%;
        height: 100%;
        margin: 0;
    }
    
    .footerSecoes {
        width: 100%;
        margin-top: 3%;
        display: flex;
        justify-content: space-evenly;
    }
    
    .footerDiv {
        box-sizing: border-box;
        width: 20%;
        height: fit-content;
        text-align: left;
    }
    
    .redesSociaisLin {
        display: flex;
        margin: 5% 0 0 0;
    }
    
    #footerTit {
        font-size: 16px;
        font-weight: 400;
        margin: 0;
    }
    
    #redesSociaisIcon {
        width: 20%;
        height: 100%;
    }
    
    #redesSociaisLink {
        font-size: 12px;
        margin: 0 0 2% 3%;
        font-weight: 300;
    }
    
    #endereco {
        font-size: 12px;
        font-weight: 300;
    }
    
    .footerDivLinks {
        box-sizing: border-box;
        width: 15%;
        height: fit-content;
        text-align: left;
    }
    
    #link {
        font-size: 12px;
        font-weight: 300;
    }
    
    .copyright {
        display: flex;
        justify-content: space-evenly;
        margin-top: 1.5%;
        font-size: 10px;
        font-weight: 300;
    }


}