/* CONFIGS GERAIS */

@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* ================================================================= */
/* TOPO DA TELA */

@media (min-width: 800px) {

    .top {
        background-color: #FFF5EA;
        display: flex;
        width: 100%;
        height: 80%;
        margin: 0;
        padding: 0;
    }
    
    .topEsq {
        width: 35%;
        left: 0;
    }
    
    #quadradosEsq {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    
    .topCentro {
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 100%;
        padding: 7% 0 2% 0;
        margin: 0;
    }
    
    .topSlogan {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .topSlogan01 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;  
        margin: 0;
        padding: 0;
    }
    
    #topCuidar {
        font-family: "Chilanka";
        color:#33E46D;
        font-weight: 400;
        font-size: 40px;
    }
    
    #topCuidarImg {
        margin: 0 0 2% 5%;
        width: 15%;
        height: 60%;
    }
    
    .topSlogan02 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;    
        margin: -5% 0 0 0;
        padding: 0;
    }
    
    #topEAlemDa {
        font-weight: 500;
        font-size: 30px;
    }
    
    #topCura {
        font-family: "Chilanka";
        color:#33E46D;
        font-weight: 400;
        font-size: 37px;
        margin: 1% 0 0 2.5%;
    }
    
    .topDir {
        width: 35%;
        display: flex;
        justify-content: right;
    }
    
    #quadradosDir {
        width: 50%;
        height: 50%;
    }
    
}

@media (max-width: 799px) { 

    .top {
        background-color: #FFF5EA;
        display: flex;
        width: 100%;
        height: 80%;
        margin: 0;
        padding: 0;
    }
    
    .topEsq {
        display: none;
    }
    
    .topCentro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3% 0 3% 0;
        width: 100%;
        height: 100%;
        margin: 0;
    }
    
    .topSlogan {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .topSlogan01 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;  
        margin: 0;
        padding: 0;
    }
    
    #topCuidar {
        font-family: "Chilanka";
        color:#33E46D;
        font-weight: 400;
        font-size: 35px;
    }
    
    #topCuidarImg {
        margin: 0 0 2% 2.5%;
        width: 10%;
        height: 60%;
    }
    
    .topSlogan02 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;    
        margin: -5% 0 0 0;
        padding: 0;
    }
    
    #topEAlemDa {
        font-weight: 500;
        font-size: 25px;
    }
    
    #topCura {
        font-family: "Chilanka";
        color:#33E46D;
        font-weight: 400;
        font-size: 30px;
        margin: 1% 0 0 2%;
    }
    
    .topDir {
        display: none;
    }

}


/* ================================================================= */
/* BREVE DESCRIÇÃO DO INSTITUTO - DESKTOP */

@media (min-width: 800px) {

    .breveDesc {
        width: 90%;
        margin: 5%;
        text-align: center;
    }
    
    .breveDesc p {
        font-size: 16px;
    }
    
    #breveDescLogo {
        width: 5%;
        height: 5%;
    }

}

/* BREVE DESCRIÇÃO DO INSTITUTO - MOBILE */

@media (max-width: 799px) {

    .breveDesc {
        width: 90%;
        margin: 5%;
        text-align: center;
    }
    
    .breveDesc p {
        font-size: 14px;
    }
    
    #breveDescLogo {
        width: 7%;
        height: 7%;
    }

}

/* ================================================================= */
/* SOBRE O INSTITUTO - DESKTOP */

@media (min-width: 800px) {

    .sobre {
        width: 90%;
        margin: 5%;
    }
    
    .sobreGeral {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    
    .sobreTxt {
        font-size: 16px;
        width: 50%;
    }
    
    .sobreTit {
        display: flex;
        margin-bottom: -1%;
    }
    
    #sobreTitDestacado {
        font-family: "Chilanka";
        color: #33E46D;
        font-size: 32px;
        font-weight: 500;
        padding-top: 1%;
    }
    
    #sobreTit {
        margin-left: 10px;
        font-size: 32px;
        font-weight: 400;
    }
    
    #sobreImg {
        width: 45%;
        /* desloc-horizontal, desloc-vertical, blur, "spread effect" */
        box-shadow: 10px 10px 0px 0px #33E46D;
        margin-top: 2%;
    }
    

}

@media (max-width: 799px) {

    .sobre {
        width: 90%;
        margin: 2.5% 5% 5% 5%;
    }
    
    .sobreGeral {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    
    .sobreTit {
        display: flex;
        justify-content: center;
        margin-bottom: -2%;
    }

    #sobreTitDestacado {
        font-family: "Chilanka";
        color: #33E46D;
        font-size: 28px;
        font-weight: 500;
        padding-top: 1%;
    }

    #sobreTit {
        margin-left: 10px;
        font-size: 28px;
        font-weight: 400;
    }

    .sobreTxt {
        font-size: 14px;
        width: 100%;
    }
    
    #sobreImg {
        width: 98%;
        /* desloc-horizontal, desloc-vertical, blur, "spread effect" */
        box-shadow: 10px 10px 0px 0px #33E46D;
        margin: 2% 0 5% 0;
    }
    

}

/* ================================================================= */
/* NÚMEROS DO INSTITUTO - DESKTOP */

@media (min-width: 800px) {

    .nums {
        width: 100%;
        height: 100%;
        background-color: #33E46D;
    }

    .numsTit {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #numsTitDestacado {
        font-size: 32px;
        font-family: "Chilanka";
        color: #FFFFFF;
        font-weight: 500;
        padding: 2% 0 0 0;
        margin: 0 1% 0 0;
    }

    #numsTit {
        font-size: 32px;
        font-weight: 500;
    }

    .numsDivs {
        display: flex;
        justify-content: space-between;
        width: 90%;
        height: 100%;
        padding: 2% 5% 7% 5%;
    }

    .numDiv {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 20%;
        height: 150px;
        padding: 0;
    }

    .num {
        padding: 0;
        margin: 0;
        font-family: 'Inter';
        color: #FFFFFF;
        font-size: 85px;
        font-weight: 800;
    }

    .descNum {
        color: #000000;
        font-size: 24px;
        font-weight: 800;
        padding: 0;
        margin: 0;
    }

    .numInfinito {
        align-self: center;
        width: 60%;
        height: 100%;
        padding-bottom: 5%;
    }

}

/* NÚMEROS DO INSTITUTO - MOBILE */

@media (max-width: 799px) {

    .nums {
        width: 100%;
        height: 100%;
        padding: 1% 0 1% 0;
        background-color: #33E46D;
    }

    .numsTit {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #numsTitDestacado {
        font-size: 32px;
        font-family: "Chilanka";
        color: #FFFFFF;
        font-weight: 500;
        padding: 3.25% 0 0 0;
        margin: 0 1% 0 0;
    }

    #numsTit {
        font-size: 28px;
        font-weight: 500;
    }

    .numsDivs {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        height: 100%;
        margin-top: -4%;
        padding: 0 5% 2% 5%;
    }

    .numDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 175px;
        padding: 0;
    }

    .num {
        padding: 0;
        margin: 0;
        font-family: 'Inter';
        color: #FFFFFF;
        font-size: 75px;
        font-weight: 800;
    }

    .descNum {
        color: #000000;
        font-size: 20px;
        font-weight: 800;
        padding: 0;
        margin: 0;
    }

    .numInfinito {
        align-self: center;
        width: 100px;
        padding-bottom: 5%;
    }

}

/* ================================================================= */
/* NOSSOS PROJETOS */

@media (min-width: 800px) {

    .projetos {
        width: 90%;
        /* topo direita inferior esquerda */
        margin: 3% 5% 5% 5%;
    }
    
    .projetosTit {
        display: flex;
        justify-content: center; 
        margin-bottom: 2.5%;
    }
    
    #projetosTitDestacado {
        font-family: "Chilanka";
        color: #33E46D;
        font-size: 32px;
        font-weight: 500;
        padding-top: 0.4%;
        margin-left: 1%;
    }
    
    #projetosTit {
        font-size: 32px;
        font-weight: 500;
    }
    
    .projDivs {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        justify-content: space-between; 
        gap: 30px;
    }
    
    .projBtn {
        cursor: pointer;
        background: none;
        border: none;
        padding: 0;
    }
    
    .projDiv {
        text-align: center;
        width: 20%;
        height: 70%;
        flex: 0 0 auto;
        margin: 0 0% 1% 0%; 
    }
    
    #projImg {
        width: 250px;
        height: 150px;
        /* desloc-horizontal, desloc-vertical, blur, "spread effect" */
        box-shadow: 7px 7px 0px 0px #33E46D;
    }
    
    #projTit {
        font-family: "Fira Sans Condensed";
        width: 100%;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 0;
    }
    
    #projDesc {
        font-family: "Fira Sans Condensed";
        width: 100%;
        height: 30%;
        font-size: 14px;
        font-weight: 400;
        white-space: normal;
    }    

}

@media (max-width: 799px) {

    .projetos {
        display: flex;
        flex-direction: column;
        width: 90%;
        /* topo direita inferior esquerda */
        margin: 3% 5% 7% 5%;
    }
    
    .projetosTit {
        display: flex;
        justify-content: center; 
        margin-bottom: 2.5%;
    }
    
    #projetosTitDestacado {
        font-family: "Chilanka";
        color: #33E46D;
        font-size: 32px;
        font-weight: 500;
        padding-top: 0.6%;
        margin-left: 1%;
    }
    
    #projetosTit {
        font-size: 32px;
        font-weight: 500;
    }

    .projDivs {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .projDiv {
        width: 90%;
        height: auto;
    }
    
    .projBtn {
        cursor: pointer;
        background: none;
        border: none;
        padding: 0;
    }

    #projImg {
        width: 100%;
        /* desloc-horizontal, desloc-vertical, blur, "spread effect" */
        box-shadow: 7px 7px 0px 0px #33E46D;
    }
    
    #projTit {
        font-family: "Fira Sans Condensed";
        width: 100%;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 0;
    }
    
    #projDesc {
        font-family: "Fira Sans Condensed";
        width: 100%;
        height: 30%;
        font-size: 14px;
        font-weight: 400;
        white-space: normal;
    }   
}

/* ================================================================= */
/* CUIDAR É ALÉM DA CURA -- PRECISA ARRUMAR AS LINHAS COLORIDAS*/
@media (min-width: 800px) {

    .cuidarAlemDaCura {
        text-align: center;
        width: 100%;
        /* topo direita inferior esquerda */
        padding: 5% 0 5% 0;
        margin: 0;
        border-top: 5px solid;
        border-bottom: 5px solid;
        background-color: #FFF5EA;
        /* FF3.6+ */
        border-image: -moz-linear-gradient(left, #F43779 0%, #F43779 20%,
                    #33E46D 20%, #33E46D 20%, #33E46D 40%,
                    #00B1FF 40%, #00B1FF 40%,
                    #33E46D 40%,
                    #00B1FF 40%, #00B1FF 40%, #00B1FF 60%,
                    #FF9439 60%, #FF9439 80%,
                    #F43779 80%, #F43779 80%, #F43779 100%);
    /* Chrome,Safari4+ */
        border-image: -webkit-gradient(linear, left top, right top, color-stop(0%,#F43779), color-stop(20%,#F43779),
                        color-stop(20%,#33E46D), color-stop(20%,#33E46D), color-stop(40%,#33E46D),
                        color-stop(40%,#00B1FF), color-stop(40%,#00B1FF), 
                        color-stop(40%,#33E46D), 
                        color-stop(40%,#00B1FF), color-stop(40%,#00B1FF), color-stop(60%,#00B1FF),
                        color-stop(60%,#FF9439), color-stop(80%,#FF9439),
                        color-stop(80%,#F43779), color-stop(80%,#F43779), color-stop(100%,#F43779)) 1 stretch repeat;
        /* Chrome10+,Safari5.1+ */
        border-image: -webkit-linear-gradient(left, #F43779 0%,#F43779 20%,
                    #33E46D 20%,#33E46D 20%,#33E46D 40%,
                    #00B1FF 40%,#00B1FF 40%,
                    #33E46D 40%,
                    #00B1FF 40%,#00B1FF 40%,#00B1FF 60%,
                    #FF9439 60%,#FF9439 80%,
                    #F43779 80%,#F43779 80%,#F43779 100%) 1 stretch repeat; 
        /* Opera 11.10+ */                                            
        border-image: -o-linear-gradient(left, #F43779 0%,#F43779 20%,
                    #33E46D 20%,#33E46D 20%,#33E46D 40%,
                    #00B1FF 40%,#00B1FF 40%,
                    #33E46D 40%,
                    #00B1FF 40%,#00B1FF 40%,#00B1FF 60%,
                    #FF9439 60%,#FF9439 80%,
                    #F43779 80%,#F43779 80%,#F43779 100%) 1 stretch repeat;
        /* IE10+ */
        border-image: -ms-linear-gradient(left, #F43779 0%,#F43779 20%,
                    #33E46D 20%,#33E46D 20%,#33E46D 40%,
                    #00B1FF 40%,#00B1FF 40%,
                    #33E46D 40%,
                    #00B1FF 40%,#00B1FF 40%,#00B1FF 60%,
                    #FF9439 60%,#FF9439 80%,
                    #F43779 80%,#F43779 80%,#F43779 100%) 1 stretch repeat;
        /* W3C */
        border-image: linear-gradient(to right, #F43779 0%,#F43779 20%,
                    #33E46D 20%,#33E46D 20%,#33E46D 40%,
                    #00B1FF 40%,#00B1FF 40%,
                    #33E46D 40%,
                    #00B1FF 40%,#00B1FF 40%,#00B1FF 60%,
                    #FF9439 60%,#FF9439 80%,    
                    #F43779 80%,#F43779 80%,#F43779 100%) 1 stretch repeat;
    }
    
    .cuidarTit {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    
    #cuidar {
        font-size: 36px;
        font-family: "Chilanka";
        color: #33E46D;
        font-weight: 500;
        margin: 0.5% 0 0 0;
    }
    
    #eAlemDa {
        font-size: 36px;
        font-weight: 500;
        /* topo direita inferior esquerda */
        margin: 0 0.5% 0 0.5%;
    }
    
    #cura {
        font-size: 36px;
        font-family: "Chilanka";
        color: #33E46D;
        font-weight: 500;
        margin: 0.5% 0 0 0;
    }
    
    #slogan {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: -2%;
    }    

}

@media (max-width: 799px) {

    .cuidarAlemDaCura {
        text-align: center;
        width: 100%;
        /* topo direita inferior esquerda */
        padding: 5% 0 5% 0;
        margin: 0;
        border-top: 5px solid;
        border-bottom: 5px solid;
        background-color: #FFF5EA;
        /* FF3.6+ */
        border-image: -moz-linear-gradient(left, #F43779 0%, #F43779 20%,
                    #33E46D 20%, #33E46D 20%, #33E46D 40%,
                    #00B1FF 40%, #00B1FF 40%,
                    #33E46D 40%,
                    #00B1FF 40%, #00B1FF 40%, #00B1FF 60%,
                    #FF9439 60%, #FF9439 80%,
                    #F43779 80%, #F43779 80%, #F43779 100%);
    /* Chrome,Safari4+ */
        border-image: -webkit-gradient(linear, left top, right top, color-stop(0%,#F43779), color-stop(20%,#F43779),
                        color-stop(20%,#33E46D), color-stop(20%,#33E46D), color-stop(40%,#33E46D),
                        color-stop(40%,#00B1FF), color-stop(40%,#00B1FF), 
                        color-stop(40%,#33E46D), 
                        color-stop(40%,#00B1FF), color-stop(40%,#00B1FF), color-stop(60%,#00B1FF),
                        color-stop(60%,#FF9439), color-stop(80%,#FF9439),
                        color-stop(80%,#F43779), color-stop(80%,#F43779), color-stop(100%,#F43779)) 1 stretch repeat;
        /* Chrome10+,Safari5.1+ */
        border-image: -webkit-linear-gradient(left, #F43779 0%,#F43779 20%,
                    #33E46D 20%,#33E46D 20%,#33E46D 40%,
                    #00B1FF 40%,#00B1FF 40%,
                    #33E46D 40%,
                    #00B1FF 40%,#00B1FF 40%,#00B1FF 60%,
                    #FF9439 60%,#FF9439 80%,
                    #F43779 80%,#F43779 80%,#F43779 100%) 1 stretch repeat; 
        /* Opera 11.10+ */                                            
        border-image: -o-linear-gradient(left, #F43779 0%,#F43779 20%,
                    #33E46D 20%,#33E46D 20%,#33E46D 40%,
                    #00B1FF 40%,#00B1FF 40%,
                    #33E46D 40%,
                    #00B1FF 40%,#00B1FF 40%,#00B1FF 60%,
                    #FF9439 60%,#FF9439 80%,
                    #F43779 80%,#F43779 80%,#F43779 100%) 1 stretch repeat;
        /* IE10+ */
        border-image: -ms-linear-gradient(left, #F43779 0%,#F43779 20%,
                    #33E46D 20%,#33E46D 20%,#33E46D 40%,
                    #00B1FF 40%,#00B1FF 40%,
                    #33E46D 40%,
                    #00B1FF 40%,#00B1FF 40%,#00B1FF 60%,
                    #FF9439 60%,#FF9439 80%,
                    #F43779 80%,#F43779 80%,#F43779 100%) 1 stretch repeat;
        /* W3C */
        border-image: linear-gradient(to right, #F43779 0%,#F43779 20%,
                    #33E46D 20%,#33E46D 20%,#33E46D 40%,
                    #00B1FF 40%,#00B1FF 40%,
                    #33E46D 40%,
                    #00B1FF 40%,#00B1FF 40%,#00B1FF 60%,
                    #FF9439 60%,#FF9439 80%,    
                    #F43779 80%,#F43779 80%,#F43779 100%) 1 stretch repeat;
    }
    
    .cuidarTit {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    
    #cuidar {
        font-size: 34px;
        font-family: "Chilanka";
        color: #33E46D;
        font-weight: 500;
        margin: 1% 0 0 0;
    }
    
    #eAlemDa {
        font-size: 34px;
        font-weight: 500;
        /* topo direita inferior esquerda */
        margin: 0 1% 0 1%;
    }
    
    #cura {
        font-size: 34px;
        font-family: "Chilanka";
        color: #33E46D;
        font-weight: 500;
        margin: 1% 0 0 0;
    }
    
    #slogan {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 3%;
    }
    

}

/* ================================================================= */
/* DEPOIMENTOS */

@media (min-width: 800px) {

    .depoimentos {
        display: flex;
        justify-content: space-evenly;
        vertical-align: center;
        width: 100%;
        height: 40%;
        padding: 10% 0 10% 0;
    }
    
    .depTit {
        width: 25%;
        height: 100%;
    }
    
    #depTit {
        font-size: 35px;
        font-family: "Chilanka";
        color: #33E46D;
        font-weight: 500;
        margin: 0;
    }
    
    #depDesc {
        font-size: 14px;
        font-weight: 400;
    }
    
    .depDiv {
        box-sizing: border-box;
        width: 25%;
        height: 250px;
        border-bottom: 1px solid #33E46D;
    }
    
    .depLin1 {
        display: flex;
        justify-content: left;
    }
    
    #depImg {
        width: 30%;
        height: 100%;
         /* desloc-horizontal, desloc-vertical, blur, "spread effect" */
         box-shadow: 5px 5px 0px 0px #33E46D;
    }
    
    .depTxt {
        width: 100%;
        height: 100%;
        margin: 0 5% 0 5%;
    }
    
    #depNome {
        font-size: 16px;
        font-weight: 700;
        margin: 0;
        padding: 0;
    }
    
    #depOcupacao {
        font-size: 16px;
        font-weight: 400;
        margin: 10% 0 0 0;
        padding: 0;
    }
    
    #depIcon {
        width: 20%;
        height: 100%;
    }
    
    #depoimento {
        box-sizing: border-box;
        overflow-y: hidden;
        width: 100%;
    }    

}

@media (max-width: 799px) {

    .depoimentos {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 40%;
        padding: 10% 0 10% 0;
    }
    
    .depTit {
        width: 90%;
        height: 100%;
        padding-bottom: 2.5%;
    }
    
    #depTit {
        font-size: 34px;
        font-family: "Chilanka";
        color: #33E46D;
        font-weight: 500;
        margin: 0;
    }
    
    #depDesc {
        font-size: 14px;
        font-weight: 400;
    }
    
    .depDiv {
        box-sizing: border-box;
        width: 90%;
        margin: 2.5% 0 2.5% 0;
        border-bottom: 1px solid #33E46D;
    }
    
    .depLin1 {
        display: flex;
        justify-content: left;
    }
    
    #depImg {
        width: 100px;
        height: 100px;
        /* desloc-horizontal, desloc-vertical, blur, "spread effect" */
        box-shadow: 5px 5px 0px 0px #33E46D;
    }
    
    .depTxt {
        width: 100%;
        height: 100%;
        margin: 0 0 0 2.5%;
    }

    #depNome {
        font-size: 16px;
        font-weight: 700;
        margin: 0;
        padding: 0;
    }
    
    #depOcupacao {
        font-size: 16px;
        font-weight: 400;
        margin: 2% 0 0 0;
        padding: 0;
    }
    
    #depIcon {
        width: 5%;
        height: 100%;
    }
    
    #depoimento {
        box-sizing: border-box;
        overflow-y: hidden;
        width: 100%;
        font-size: 14px;
    }    

}


/* ================================================================= */
/* BLOG */

@media (min-width: 800px) {

    .blog {
        width: 100%;
        /* topo direita inferior esquerda */
        padding: 5% 0 5% 0;
        background-color: #FFF5EA;
    }
    
    .blogBtn {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
    }
    
    .blogTit {
        display: flex;
        justify-content: center;
    }
    
    #blogTit {
        font-size: 34px;
        font-weight: 500;
        /* topo direita inferior esquerda */
        margin: 0 0.5% 0 0px;
    }
    
    #blogTitDestacado {
        font-size: 34px;
        font-family: "Chilanka";
        color: #33E46D;
        font-weight: 500;
        margin: 0.5% 0 0 0;
    }
    
    .blogDivs {
        width: 100%;
        margin: 5% 0 2.5% 0;
        display: flex;
        overflow-y: hidden;
    }
    
    .blogDiv {
        width: 20%;
        height: 70%;
        flex: 0 0 auto;
        margin: 0 2.5% 1% 2.5%; 
        text-align: center;
    }
    
    .blogImgs {
        display: flex;
        height: 50%;
    }
    
    #coracaoBlog {
        width: 15%;
        height: 15%;
        margin-left: -105%;
    }
    
    #blogImg {
        width: 100%;
        height: 200px;
        overflow-y: hidden;
        /* desloc-horizontal, desloc-vertical, blur, "spread effect" */
        box-shadow: 7px 7px 0px 0px #33E46D;
    }
    
    #blogNome {
        font-family: "Fira Sans Condensed";
        font-size: 16px;
        font-weight: 500;
        margin: 5% 0 0 0;
        width: 100%;
    }
    
    #blogTxt {
        font-family: "Fira Sans Condensed";
        font-size: 13px;
        font-weight: 400;
        width: 100%;
    }
    
}

@media (max-width: 799px) {

    .blog {
        width: 90%;
        /* topo direita inferior esquerda */
        padding: 3% 5% 7% 5%;
        background-color: #FFF5EA;
    }
    
    .blogBtn {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
    }
    
    .blogTit {
        display: flex;
        justify-content: center;
    }
    
    #blogTit {
        font-size: 34px;
        font-weight: 500;
        /* topo direita inferior esquerda */
        margin: 0 1% 0 0px;
    }
    
    #blogTitDestacado {
        font-size: 34px;
        font-family: "Chilanka";
        color: #33E46D;
        font-weight: 500;
        margin: 1% 0 0 0;
    }
    
    .blogDivs {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
    }
    
    .blogDiv {
        width: 90%;
        height: auto;
        margin: 5% 0 5% 0;
    }
    
    .blogImgs {
        display: flex;
    }
    
    #coracaoBlog {
        width: 10%;
        height: 10%;
        margin-left: -102.5%;
    }
    
    #blogImg {
        width: 100%;
        overflow-y: hidden;
        /* desloc-horizontal, desloc-vertical, blur, "spread effect" */
        box-shadow: 7px 7px 0px 0px #33E46D;
    }
    
    #blogNome {
        font-family: "Fira Sans Condensed";
        font-size: 18px;
        font-weight: 500;
        margin: 5% 0 0 0;
        width: 100%;
    }
    
    #blogTxt {
        font-family: "Fira Sans Condensed";
        font-size: 14px;
        font-weight: 400;
        width: 100%;
    }
    
}


/* ========================================================================= */
/* RESPONSIVIDADE */

@media (max-width: 799px) {
    
}