/* CONFIGS GERAIS */

@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: "Fira Sans Condensed";
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #FFF5EA;
}

main {
    position: fixed;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    right: 0;
    width: 80%;
    height: 100%;
    background-image: url("../imgs/icons/logoBranca.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45% 60%;
}

/* =================================================================== */
/* CONTAINER DA LISTA */

.container {
    box-sizing: border-box;
    background-blend-mode:pass-through;
    margin-top: 3%;
    padding: 3%;
    height: 90%;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.3);
}

#containerTit {
    font-size: 26px;
    color: #FFFFFF;
    font-weight: 400;
}

.form {
    box-sizing: border-box;
    align-items: center;
    margin: 5%;
    padding: 3%;
    height: 80%;
    width: 90%;
    border-radius: 20px;
    background-color: rgb(217,217,217, 0.8);
}

.lin {
    margin: 1% 2% 1% 2%;
    width: 95%;
    line-height: 30px;
}

.lin label {
    font-size: 16px;
    font-weight: 400;
}

.lin input {
    font-family: "Fira Sans Condensed";
    font-size: 14px;
    width: 100%;
    padding: 1%;
    border-radius: 5px;
    border: 1px solid #000000;
}

#tipoUsu {
    font-family: "Fira Sans Condensed";
    font-size: 14px;
    width: 101%;
    padding: 1%;
    border-radius: 5px;
    border: 1px solid #000000;
}

.btn {
    display: flex;
    justify-content: center;
}

#confirmBtn {
    margin-top: 1%;
    padding: 1.5%;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    border: none;
    background-color: #33E46D;
    color: #000000;
    font-family: "Fira Sans Condensed";
    cursor: pointer;
}

